In [1]:
import pandas as pd
import numpy as np
from modulos.eda import *

In [2]:
# print(dir(modulos.eda))

In [3]:
external = pd.read_excel('data/External_Cibil_Dataset.xlsx')

In [4]:
head_tail(external, 5)

,PROSPECTID,time_since_recent_payment,time_since_first_deliquency,time_since_recent_deliquency,num_times_delinquent,max_delinquency_level,max_recent_level_of_deliq,num_deliq_6mts,num_deliq_12mts,num_deliq_6_12mts,...,pct_CC_enq_L6m_of_L12m,pct_PL_enq_L6m_of_ever,pct_CC_enq_L6m_of_ever,max_unsec_exposure_inPct,HL_Flag,GL_Flag,last_prod_enq2,first_prod_enq2,Credit_Score,Approved_Flag
0,1,549,35,15,11,29,29,0,0,0,...,0.0,0.0,0.0,13.333,1,0,PL,PL,696,P2
1,2,47,-99999,-99999,0,-99999,0,0,0,0,...,0.0,0.0,0.0,0.86,0,0,ConsumerLoan,ConsumerLoan,685,P2
2,3,302,11,3,9,25,25,1,9,8,...,0.0,0.0,0.0,5741.667,1,0,ConsumerLoan,others,693,P2
3,4,-99999,-99999,-99999,0,-99999,0,0,0,0,...,0.0,0.0,0.0,9.9,0,0,others,others,673,P2
4,5,583,-99999,-99999,0,-99999,0,0,0,0,...,0.0,0.0,0.0,-99999.0,0,0,AL,AL,753,P1
5,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6,51332,15,24,23,2,24,24,0,0,0,...,0.0,0.0,0.0,1.661,0,0,ConsumerLoan,ConsumerLoan,650,P4
7,51333,57,-99999,-99999,0,-99999,0,0,0,0,...,0.0,0.0,0.0,0.52,0,0,others,others,702,P1
8,51334,32,-99999,-99999,0,-99999,0,0,0,0,...,0.0,1.0,0.0,0.567,0,0,ConsumerLoan,others,661,P3
9,51335,58,-99999,-99999,0,-99999,0,0,0,0,...,0.0,0.0,0.0,1.202,0,0,ConsumerLoan,others,686,P2
10,51336,74,-99999,-99999,0,-99999,0,0,0,0,...,0.0,0.0,0.0,-99999.0,0,0,others,others,681,P2

In [5]:
external.replace(-99999, np.nan, inplace=True)

In [7]:
external.describe()

,PROSPECTID,time_since_recent_payment,time_since_first_deliquency,time_since_recent_deliquency,num_times_delinquent,max_delinquency_level,max_recent_level_of_deliq,num_deliq_6mts,num_deliq_12mts,num_deliq_6_12mts,...,PL_utilization,PL_Flag,pct_PL_enq_L6m_of_L12m,pct_CC_enq_L6m_of_L12m,pct_PL_enq_L6m_of_ever,pct_CC_enq_L6m_of_ever,max_unsec_exposure_inPct,HL_Flag,GL_Flag,Credit_Score
count,51336.000000,47045.000000,15387.000000,15387.000000,51336.000000,15387.000000,51336.000000,51336.000000,51336.000000,51336.000000,...,6901.000000,51336.000000,51336.000000,51336.000000,51336.000000,51336.000000,28158.000000,51336.000000,51336.000000,51336.000000
mean,25668.500000,249.463599,20.318646,12.696757,1.573749,74.047573,13.521953,0.184977,0.480053,0.295076,...,0.751838,0.167874,0.190414,0.065182,0.170492,0.056302,38.664235,0.271116,0.052887,679.859222
std,14819.571046,467.777931,10.831259,9.499626,4.165012,121.318443,53.336976,0.710240,1.522210,1.027471,...,0.253933,0.373758,0.376218,0.235706,0.350209,0.213506,1498.955157,0.444540,0.223810,20.502764
min,1.000000,2.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,469.000000
25%,12834.750000,52.000000,10.000000,4.000000,0.000000,24.000000,0.000000,0.000000,0.000000,0.000000,...,0.641000,0.000000,0.000000,0.000000,0.000000,0.000000,0.775000,0.000000,0.000000,669.000000
50%,25668.500000,74.000000,21.000000,10.000000,0.000000,33.000000,0.000000,0.000000,0.000000,0.000000,...,0.835000,0.000000,0.000000,0.000000,0.000000,0.000000,1.820000,0.000000,0.000000,680.000000
75%,38502.250000,195.000000,31.000000,20.000000,1.000000,83.000000,10.000000,0.000000,0.000000,0.000000,...,0.944000,0.000000,0.000000,0.000000,0.000000,0.000000,5.283000,1.000000,0.000000,691.000000
max,51336.000000,6065.000000,35.000000,35.000000,74.000000,900.000000,900.000000,12.000000,28.000000,20.000000,...,1.708000,1.000000,1.000000,1.000000,1.000000,1.000000,173800.000000,1.000000,1.000000,811.000000

In [9]:
external.describe(include='object')

,MARITALSTATUS,EDUCATION,GENDER,last_prod_enq2,first_prod_enq2,Approved_Flag
count,51336,51336,51336,51336,51336,51336
unique,2,7,2,6,6,4
top,Married,GRADUATE,M,others,others,P2
freq,37752,16673,45245,20831,28120,32199

In [8]:
for col in external.columns.tolist():
    describe_columna(external, col)

Columna: PROSPECTID  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 51336
Valores más frecuentes:
51336 	 1
1 	 1
2 	 1
3 	 1
4 	 1
5 	 1
6 	 1
7 	 1
51320 	 1
51319 	 1
Columna: time_since_recent_payment  -  Tipo de datos: float64
Número de valores nulos: 4291  -  Número de valores distintos: 2434
Valores más frecuentes:
51.0 	 606
49.0 	 605
63.0 	 604
52.0 	 580
54.0 	 570
59.0 	 567
67.0 	 555
50.0 	 554
66.0 	 548
47.0 	 542
Columna: time_since_first_deliquency  -  Tipo de datos: float64
Número de valores nulos: 35949  -  Número de valores distintos: 36
Valores más frecuentes:
35.0 	 1855
34.0 	 596
33.0 	 563
7.0 	 488
9.0 	 475
29.0 	 471
31.0 	 468
6.0 	 467
5.0 	 466
8.0 	 459
Columna: time_since_recent_deliquency  -  Tipo de datos: float64
Número de valores nulos: 35949  -  Número de valores distintos: 36
Valores más frecuentes:
2.0 	 1224
3.0 	 1091
4.0 	 1016
5.0 	 853
6.0 	 792
7.0 	 649
8.0 	 642
9.0 	 593
10.0 	 516
1.0 	 515
Columna: num_times_delinquent  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 64
Valores más frecuentes:
0 	 35949
1 	 4397
2 	 2533
3 	 1745
4 	 1191
5 	 863
6 	 669
7 	 588
8 	 493
9 	 385
Columna: max_delinquency_level  -  Tipo de datos: float64
Número de valores nulos: 35949  -  Número de valores distintos: 518
Valores más frecuentes:
30.0 	 733
26.0 	 731
28.0 	 603
25.0 	 584
60.0 	 479
27.0 	 471
89.0 	 440
90.0 	 404
3.0 	 404
24.0 	 403
Columna: max_recent_level_of_deliq  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 399
Valores más frecuentes:
0 	 35949
30 	 1241
25 	 993
26 	 935
28 	 828
27 	 744
29 	 618
24 	 588
3 	 538
60 	 449
Columna: num_deliq_6mts  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 13
Valores más frecuentes:
0 	 46554
1 	 2453
2 	 1096
3 	 534
4 	 434
5 	 168
6 	 56
7 	 16
8 	 13
10 	 5
Columna: num_deliq_12mts  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 26
Valores más frecuentes:
0 	 42908
1 	 3350
2 	 1770
3 	 1040
4 	 614
5 	 462
6 	 340
7 	 232
8 	 186
10 	 147
Columna: num_deliq_6_12mts  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 18
Valores más frecuentes:
0 	 45187
1 	 2584
2 	 1388
3 	 791
4 	 516
6 	 379
5 	 322
7 	 63
8 	 39
9 	 21
Columna: max_deliq_6mts  -  Tipo de datos: float64
Número de valores nulos: 12890  -  Número de valores distintos: 205
Valores más frecuentes:
0.0 	 33664
28.0 	 324
3.0 	 323
26.0 	 298
25.0 	 283
27.0 	 253
30.0 	 245
24.0 	 199
10.0 	 197
29.0 	 167
Columna: max_deliq_12mts  -  Tipo de datos: float64
Número de valores nulos: 10832  -  Número de valores distintos: 293
Valores más frecuentes:
0.0 	 32076
28.0 	 564
26.0 	 503
27.0 	 438
25.0 	 428
3.0 	 378
30.0 	 372
24.0 	 317
29.0 	 289
10.0 	 259
Columna: num_times_30p_dpd  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 52
Valores más frecuentes:
0 	 43345
1 	 2471
2 	 1503
3 	 876
4 	 574
5 	 438
6 	 355
7 	 247
8 	 232
9 	 193
Columna: num_times_60p_dpd  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 43
Valores más frecuentes:
0 	 46447
1 	 1703
2 	 839
3 	 478
4 	 367
5 	 257
6 	 204
8 	 152
7 	 148
11 	 99
Columna: num_std  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 237
Valores más frecuentes:
0 	 31655
1 	 1450
2 	 1036
3 	 948
4 	 751
7 	 662
6 	 649
5 	 601
8 	 573
9 	 505
Columna: num_std_6mts  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 50
Valores más frecuentes:
0 	 37369
4 	 3529
5 	 2640
1 	 1378
3 	 1346
2 	 1273
8 	 669
10 	 546
6 	 534
7 	 422
Columna: num_std_12mts  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 98
Valores más frecuentes:
0 	 35636
10 	 1958
11 	 1624
1 	 1324
2 	 1022
9 	 869
3 	 856
4 	 838
8 	 820
7 	 808
Columna: num_sub  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 31
Valores más frecuentes:
0 	 50682
1 	 179
2 	 101
3 	 65
4 	 51
6 	 43
5 	 43
8 	 32
7 	 32
10 	 22
Columna: num_sub_6mts  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 7
Valores más frecuentes:
0 	 51285
1 	 18
2 	 14
4 	 7
3 	 6
5 	 5
8 	 1
Columna: num_sub_12mts  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 14
Valores más frecuentes:
0 	 51178
1 	 61
2 	 42
3 	 14
6 	 11
5 	 9
4 	 6
10 	 5
8 	 3
11 	 3
Columna: num_dbt  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 29
Valores más frecuentes:
0 	 51166
1 	 45
3 	 15
2 	 12
5 	 12
6 	 11
9 	 10
7 	 8
8 	 7
11 	 6
Columna: num_dbt_6mts  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 6
Valores más frecuentes:
0 	 51320
4 	 8
3 	 4
5 	 2
2 	 1
6 	 1
Columna: num_dbt_12mts  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 11
Valores más frecuentes:
0 	 51296
2 	 11
10 	 6
9 	 5
3 	 4
1 	 4
4 	 3
5 	 3
11 	 2
8 	 1
Columna: num_lss  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 25
Valores más frecuentes:
0 	 51234
1 	 21
3 	 11
7 	 10
4 	 9
2 	 8
8 	 7
16 	 5
9 	 5
6 	 4
Columna: num_lss_6mts  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 7
Valores más frecuentes:
0 	 51324
4 	 5
5 	 2
2 	 2
3 	 1
12 	 1
1 	 1
Columna: num_lss_12mts  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 11
Valores más frecuentes:
0 	 51311
2 	 5
1 	 5
10 	 4
5 	 3
8 	 2
3 	 2
30 	 1
9 	 1
11 	 1
Columna: recent_level_of_deliq  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 349
Valores más frecuentes:
0 	 35949
30 	 1101
25 	 1017
26 	 929
28 	 777
27 	 740
3 	 727
24 	 635
29 	 586
1 	 517
Columna: tot_enq  -  Tipo de datos: float64
Número de valores nulos: 6321  -  Número de valores distintos: 84
Valores más frecuentes:
1.0 	 9476
2.0 	 7802
3.0 	 6087
4.0 	 4626
5.0 	 3389
6.0 	 2600
7.0 	 1939
8.0 	 1531
9.0 	 1247
10.0 	 981
Columna: CC_enq  -  Tipo de datos: float64
Número de valores nulos: 6321  -  Número de valores distintos: 37
Valores más frecuentes:
0.0 	 37180
1.0 	 3983
2.0 	 1499
3.0 	 737
4.0 	 451
5.0 	 283
6.0 	 199
7.0 	 152
8.0 	 124
9.0 	 70
Columna: CC_enq_L6m  -  Tipo de datos: float64
Número de valores nulos: 6321  -  Número de valores distintos: 16
Valores más frecuentes:
0.0 	 41080
1.0 	 2389
2.0 	 811
3.0 	 337
4.0 	 187
5.0 	 75
6.0 	 58
7.0 	 38
8.0 	 13
9.0 	 10
Columna: CC_enq_L12m  -  Tipo de datos: float64
Número de valores nulos: 6321  -  Número de valores distintos: 21
Valores más frecuentes:
0.0 	 39563
1.0 	 3074
2.0 	 1042
3.0 	 491
4.0 	 291
5.0 	 176
6.0 	 119
7.0 	 82
8.0 	 55
9.0 	 40
Columna: PL_enq  -  Tipo de datos: float64
Número de valores nulos: 6321  -  Número de valores distintos: 41
Valores más frecuentes:
0.0 	 26084
1.0 	 8373
2.0 	 4316
3.0 	 2223
4.0 	 1311
5.0 	 746
6.0 	 527
7.0 	 383
8.0 	 245
9.0 	 187
Columna: PL_enq_L6m  -  Tipo de datos: float64
Número de valores nulos: 6321  -  Número de valores distintos: 29
Valores más frecuentes:
0.0 	 33915
1.0 	 6228
2.0 	 2479
3.0 	 1024
4.0 	 491
5.0 	 277
6.0 	 201
7.0 	 116
8.0 	 75
9.0 	 58
Columna: PL_enq_L12m  -  Tipo de datos: float64
Número de valores nulos: 6321  -  Número de valores distintos: 36
Valores más frecuentes:
0.0 	 29953
1.0 	 7850
2.0 	 3382
3.0 	 1592
4.0 	 773
5.0 	 438
6.0 	 267
7.0 	 234
8.0 	 133
9.0 	 87
Columna: time_since_recent_enq  -  Tipo de datos: float64
Número de valores nulos: 6321  -  Número de valores distintos: 2381
Valores más frecuentes:
1.0 	 2350
2.0 	 2298
3.0 	 1781
4.0 	 1339
5.0 	 1037
6.0 	 894
7.0 	 727
8.0 	 598
9.0 	 547
10.0 	 436
Columna: enq_L12m  -  Tipo de datos: float64
Número de valores nulos: 6321  -  Número de valores distintos: 65
Valores más frecuentes:
1.0 	 11200
0.0 	 9373
2.0 	 7284
3.0 	 4898
4.0 	 3331
5.0 	 2183
6.0 	 1537
7.0 	 1112
8.0 	 855
9.0 	 611
Columna: enq_L6m  -  Tipo de datos: float64
Número de valores nulos: 6321  -  Número de valores distintos: 54
Valores más frecuentes:
0.0 	 15669
1.0 	 11377
2.0 	 6478
3.0 	 3805
4.0 	 2394
5.0 	 1483
6.0 	 994
7.0 	 684
8.0 	 492
9.0 	 353
Columna: enq_L3m  -  Tipo de datos: float64
Número de valores nulos: 6321  -  Número de valores distintos: 37
Valores más frecuentes:
0.0 	 21116
1.0 	 11525
2.0 	 5516
3.0 	 2865
4.0 	 1556
5.0 	 799
6.0 	 494
7.0 	 317
8.0 	 232
9.0 	 154
Columna: MARITALSTATUS  -  Tipo de datos: object
Número de valores nulos: 0  -  Número de valores distintos: 2
Valores más frecuentes:
Married 	 37752
Single 	 13584
Columna: EDUCATION  -  Tipo de datos: object
Número de valores nulos: 0  -  Número de valores distintos: 7
Valores más frecuentes:
GRADUATE 	 16673
12TH 	 14467
SSC 	 9276
UNDER GRADUATE 	 5492
OTHERS 	 2917
POST-GRADUATE 	 2242
PROFESSIONAL 	 269
Columna: AGE  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 47
Valores más frecuentes:
28 	 2534
29 	 2531
27 	 2517
26 	 2450
30 	 2435
25 	 2388
24 	 2332
32 	 2297
31 	 2294
33 	 2105
Columna: GENDER  -  Tipo de datos: object
Número de valores nulos: 0  -  Número de valores distintos: 2
Valores más frecuentes:
M 	 45245
F 	 6091
Columna: NETMONTHLYINCOME  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 1316
Valores más frecuentes:
25000 	 4904
20000 	 4880
30000 	 3940
15000 	 3669
18000 	 2966
35000 	 2386
40000 	 1875
22000 	 1473
28000 	 1247
12000 	 1222
Columna: Time_With_Curr_Empr  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 490
Valores más frecuentes:
66 	 1574
125 	 1552
126 	 1301
71 	 906
62 	 813
65 	 807
77 	 750
38 	 736
128 	 730
63 	 727
Columna: pct_of_active_TLs_ever  -  Tipo de datos: float64
Número de valores nulos: 0  -  Número de valores distintos: 421
Valores más frecuentes:
1.0 	 18377
0.0 	 8519
0.5 	 5844
0.667 	 2599
0.333 	 2405
0.75 	 1208
0.25 	 1179
0.4 	 824
0.6 	 787
0.2 	 662
Columna: pct_opened_TLs_L6m_of_L12m  -  Tipo de datos: float64
Número de valores nulos: 0  -  Número de valores distintos: 109
Valores más frecuentes:
0.0 	 30574
1.0 	 10210
0.5 	 4185
0.667 	 1411
0.333 	 1349
0.75 	 565
0.25 	 526
0.6 	 372
0.4 	 345
0.8 	 224
Columna: pct_currentBal_all_TL  -  Tipo de datos: float64
Número de valores nulos: 72  -  Número de valores distintos: 1528
Valores más frecuentes:
0.0 	 11819
1.0 	 2460
0.5 	 460
0.667 	 248
0.6 	 236
0.333 	 234
0.4 	 197
0.7 	 195
0.3 	 182
0.833 	 150
Columna: CC_utilization  -  Tipo de datos: float64
Número de valores nulos: 47636  -  Número de valores distintos: 906
Valores más frecuentes:
1.0 	 597
0.0 	 572
0.001 	 18
0.999 	 16
0.991 	 16
0.913 	 15
1.002 	 14
0.958 	 12
0.994 	 12
0.983 	 12
Columna: CC_Flag  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 2
Valores más frecuentes:
0 	 46743
1 	 4593
Columna: PL_utilization  -  Tipo de datos: float64
Número de valores nulos: 44435  -  Número de valores distintos: 917
Valores más frecuentes:
1.0 	 646
0.0 	 178
0.949 	 60
0.931 	 56
0.842 	 50
0.984 	 49
0.967 	 47
0.97 	 40
0.983 	 39
0.875 	 36
Columna: PL_Flag  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 2
Valores más frecuentes:
0 	 42718
1 	 8618
Columna: pct_PL_enq_L6m_of_L12m  -  Tipo de datos: float64
Número de valores nulos: 0  -  Número de valores distintos: 93
Valores más frecuentes:
0.0 	 40236
1.0 	 8126
0.5 	 1036
0.667 	 463
0.333 	 326
0.75 	 213
0.8 	 115
0.25 	 89
0.6 	 85
0.4 	 83
Columna: pct_CC_enq_L6m_of_L12m  -  Tipo de datos: float64
Número de valores nulos: 0  -  Número de valores distintos: 54
Valores más frecuentes:
0.0 	 47401
1.0 	 2688
0.5 	 436
0.667 	 193
0.333 	 132
0.75 	 77
0.25 	 57
0.6 	 49
0.8 	 39
0.4 	 36
Columna: pct_PL_enq_L6m_of_ever  -  Tipo de datos: float64
Número de valores nulos: 0  -  Número de valores distintos: 141
Valores más frecuentes:
0.0 	 40236
1.0 	 6591
0.5 	 1407
0.333 	 594
0.667 	 510
0.25 	 281
0.75 	 224
0.4 	 155
0.2 	 137
0.6 	 120
Columna: pct_CC_enq_L6m_of_ever  -  Tipo de datos: float64
Número de valores nulos: 0  -  Número de valores distintos: 93
Valores más frecuentes:
0.0 	 47401
1.0 	 2095
0.5 	 543
0.333 	 248
0.667 	 167
0.25 	 136
0.2 	 77
0.4 	 70
0.75 	 57
0.6 	 51
Columna: max_unsec_exposure_inPct  -  Tipo de datos: float64
Número de valores nulos: 23178  -  Número de valores distintos: 8974
Valores más frecuentes:
0.0 	 581
0.001 	 145
1.0 	 144
10.0 	 121
5.0 	 121
2.0 	 114
2.5 	 97
0.5 	 92
3.333 	 88
0.6 	 86
Columna: HL_Flag  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 2
Valores más frecuentes:
0 	 37418
1 	 13918
Columna: GL_Flag  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 2
Valores más frecuentes:
0 	 48621
1 	 2715
Columna: last_prod_enq2  -  Tipo de datos: object
Número de valores nulos: 0  -  Número de valores distintos: 6
Valores más frecuentes:
others 	 20831
ConsumerLoan 	 17793
PL 	 7959
CC 	 2339
AL 	 1511
HL 	 903
Columna: first_prod_enq2  -  Tipo de datos: object
Número de valores nulos: 0  -  Número de valores distintos: 6
Valores más frecuentes:
others 	 28120
ConsumerLoan 	 11860
PL 	 4889
AL 	 2870
CC 	 2188
HL 	 1409
Columna: Credit_Score  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 250
Valores más frecuentes:
682 	 1357
678 	 1340
679 	 1330
680 	 1321
677 	 1259
681 	 1228
683 	 1224
673 	 1211
672 	 1203
674 	 1189
Columna: Approved_Flag  -  Tipo de datos: object
Número de valores nulos: 0  -  Número de valores distintos: 4
Valores más frecuentes:
P2 	 32199
P3 	 7452
P4 	 5882
P1 	 5803

In [10]:
# internal = pd.read_excel('data/Internal_Bank_Dataset.xlsx')