In [4]:
import pandas as pd
import numpy as np
from modulos.eda import *

## Carga de datos

### External Database

Este dataset contiene información complementaria obtenida de fuentes externas al CIBIl. Refleja indicadores financieros individuales capaces de optimizar el modelo.

In [5]:
# Cargar los datos en un dataframe
external = pd.read_excel('data/External_Cibil_Dataset.xlsx')

# Remplazamos el valor asignado como nulo para que no afecta al EDA
external.replace(-99999, np.nan, inplace=True)

In [6]:
# Establecemos las opciones para que se visualicen el máximo de columnas
pd.set_option('display.max_columns', None)

# Visualizamos 5 primeras y 5 últimas líneas del dataframe
print(head_tail(external, 5))
print("="*100)

# Resumen estadístico de los datos numéricos
print(external.describe())
print("="*100)

# Resumen estadístico de los datos categóricos
print(external.describe(include='object'))

   PROSPECTID time_since_recent_payment time_since_first_deliquency  \
0           1                     549.0                        35.0
1           2                      47.0                         NaN
2           3                     302.0                        11.0
3           4                       NaN                         NaN
4           5                     583.0                         NaN
5         ...                       ...                         ...
6       51332                      15.0                        24.0
7       51333                      57.0                         NaN
8       51334                      32.0                         NaN
9       51335                      58.0                         NaN
10      51336                      74.0                         NaN

   time_since_recent_deliquency num_times_delinquent max_delinquency_level  \
0                          15.0                   11                  29.0
1                           NaN                    0                   NaN
2                           3.0                    9                  25.0
3                           NaN                    0                   NaN
4                           NaN                    0                   NaN
5                           ...                  ...                   ...
6                          23.0                    2                  24.0
7                           NaN                    0                   NaN
8                           NaN                    0                   NaN
9                           NaN                    0                   NaN
10                          NaN                    0                   NaN

   max_recent_level_of_deliq num_deliq_6mts num_deliq_12mts num_deliq_6_12mts  \
0                         29              0               0                 0
1                          0              0               0                 0
2                         25              1               9                 8
3                          0              0               0                 0
4                          0              0               0                 0
5                        ...            ...             ...               ...
6                         24              0               0                 0
7                          0              0               0                 0
8                          0              0               0                 0
9                          0              0               0                 0
10                         0              0               0                 0

   max_deliq_6mts max_deliq_12mts num_times_30p_dpd num_times_60p_dpd num_std  \
0             NaN             NaN                 0                 0      21
1             0.0             0.0                 0                 0       0
2            25.0            25.0                 0                 0      10
3             NaN             NaN                 0                 0       5
4             NaN             NaN                 0                 0      53
5             ...             ...               ...               ...     ...
6             0.0             0.0                 0                 0       0
7             0.0             0.0                 0                 0       6
8             0.0             0.0                 0                 0       0
9             0.0             0.0                 0                 0       0
10            NaN             NaN                 0                 0      18

   num_std_6mts num_std_12mts num_sub num_sub_6mts num_sub_12mts num_dbt  \
0             5            11       0            0             0       0
1             0             0       0            0             0       0
2             5            10       0            0             0       0
3             4             5       0            0             0       0
4             4            16       0            0             0       0
5           ...           ...     ...          ...           ...     ...
6             0             0       0            0             0       0
7             4             6       0            0             0       0
8             0             0       0            0             0       0
9             0             0       0            0             0       0
10            4            10       0            0             0       0

   num_dbt_6mts num_dbt_12mts num_lss num_lss_6mts num_lss_12mts  \
0             0             0       0            0             0
1             0             0       0            0             0
2             0             0       0            0             0
3             0             0       0            0             0
4             0             0       0            0             0
5           ...           ...     ...          ...           ...
6             0             0       0            0             0
7             0             0       0            0             0
8             0             0       0            0             0
9             0             0       0            0             0
10            0             0       0            0             0

   recent_level_of_deliq tot_enq CC_enq CC_enq_L6m CC_enq_L12m PL_enq  \
0                     29     6.0    0.0        0.0         0.0    6.0
1                      0     1.0    0.0        0.0         0.0    0.0
2                     25     4.0    0.0        0.0         0.0    0.0
3                      0     NaN    NaN        NaN         NaN    NaN
4                      0     1.0    0.0        0.0         0.0    0.0
5                    ...     ...    ...        ...         ...    ...
6                     24     4.0    0.0        0.0         0.0    0.0
7                      0     2.0    0.0        0.0         0.0    0.0
8                      0     6.0    0.0        0.0         0.0    2.0
9                      0     3.0    0.0        0.0         0.0    0.0
10                     0     2.0    0.0        0.0         0.0    0.0

   PL_enq_L6m PL_enq_L12m time_since_recent_enq enq_L12m enq_L6m enq_L3m  \
0         0.0         0.0                 566.0      0.0     0.0     0.0
1         0.0         0.0                 209.0      1.0     0.0     0.0
2         0.0         0.0                 587.0      0.0     0.0     0.0
3         NaN         NaN                   NaN      NaN     NaN     NaN
4         0.0         0.0                3951.0      0.0     0.0     0.0
5         ...         ...                   ...      ...     ...     ...
6         0.0         0.0                   0.0      3.0     3.0     1.0
7         0.0         0.0                 203.0      1.0     0.0     0.0
8         2.0         2.0                   1.0      5.0     4.0     2.0
9         0.0         0.0                 242.0      1.0     0.0     0.0
10        0.0         0.0                  13.0      1.0     1.0     1.0

   MARITALSTATUS       EDUCATION  AGE GENDER NETMONTHLYINCOME  \
0        Married            12TH   48      M            51000
1         Single        GRADUATE   23      F            19000
2        Married             SSC   40      M               18
3        Married             SSC   34      M            10000
4        Married   POST-GRADUATE   48      M            15000
5            ...             ...  ...    ...              ...
6        Married            12TH   43      M            18500
7        Married             SSC   31      M            25000
8        Married             SSC   28      M            18000
9         Single  UNDER GRADUATE   25      F            12802
10       Married             SSC   25      M            16000

   Time_With_Curr_Empr pct_of_active_TLs_ever pct_opened_TLs_L6m_of_L12m  \
0                  114                    0.2                        0.0
1                   50                    1.0                        0.0
2                  191                    1.0                        0.5
3                  246                    1.0                        1.0
4                   75                  0.333                        0.0
5                  ...                    ...                        ...
6                  249                    1.0                        1.0
7                  186                    0.5                        0.0
8                   66                    0.5                        0.5
9                   54                    0.5                        0.0
10                 102                    1.0                        0.0

   pct_currentBal_all_TL CC_utilization CC_Flag PL_utilization PL_Flag  \
0                  0.798            NaN       0          0.798       1
1                   0.37            NaN       0            NaN       0
2                  0.585            NaN       0            NaN       0
3                   0.99            NaN       0            NaN       0
4                    0.0            NaN       0            NaN       0
5                    ...            ...     ...            ...     ...
6                   0.23            NaN       0            NaN       0
7                   0.66            NaN       0            NaN       0
8                  0.428            NaN       0            NaN       0
9                  0.143            NaN       0            NaN       0
10                 0.333            NaN       0            NaN       0

   pct_PL_enq_L6m_of_L12m pct_CC_enq_L6m_of_L12m pct_PL_enq_L6m_of_ever  \
0                     0.0                    0.0                    0.0
1                     0.0                    0.0                    0.0
2                     0.0                    0.0                    0.0
3                     0.0                    0.0                    0.0
4                     0.0                    0.0                    0.0
5                     ...                    ...                    ...
6                     0.0                    0.0                    0.0
7                     0.0                    0.0                    0.0
8                     1.0                    0.0                    1.0
9                     0.0                    0.0                    0.0
10                    0.0                    0.0                    0.0

   pct_CC_enq_L6m_of_ever max_unsec_exposure_inPct HL_Flag GL_Flag  \
0                     0.0                   13.333       1       0
1                     0.0                     0.86       0       0
2                     0.0                 5741.667       1       0
3                     0.0                      9.9       0       0
4                     0.0                      NaN       0       0
5                     ...                      ...     ...     ...
6                     0.0                    1.661       0       0
7                     0.0                     0.52       0       0
8                     0.0                    0.567       0       0
9                     0.0                    1.202       0       0
10                    0.0                      NaN       0       0

   last_prod_enq2 first_prod_enq2 Credit_Score Approved_Flag
0              PL              PL          696            P2
1    ConsumerLoan    ConsumerLoan          685            P2
2    ConsumerLoan          others          693            P2
3          others          others          673            P2
4              AL              AL          753            P1
5             ...             ...          ...           ...
6    ConsumerLoan    ConsumerLoan          650            P4
7          others          others          702            P1
8    ConsumerLoan          others          661            P3
9    ConsumerLoan          others          686            P2
10         others          others          681            P2
====================================================================================================
         PROSPECTID  time_since_recent_payment  time_since_first_deliquency  \
count  51336.000000               47045.000000                 15387.000000
mean   25668.500000                 249.463599                    20.318646
std    14819.571046                 467.777931                    10.831259
min        1.000000                   2.000000                     0.000000
25%    12834.750000                  52.000000                    10.000000
50%    25668.500000                  74.000000                    21.000000
75%    38502.250000                 195.000000                    31.000000
max    51336.000000                6065.000000                    35.000000

       time_since_recent_deliquency  num_times_delinquent  \
count                  15387.000000          51336.000000
mean                      12.696757              1.573749
std                        9.499626              4.165012
min                        0.000000              0.000000
25%                        4.000000              0.000000
50%                       10.000000              0.000000
75%                       20.000000              1.000000
max                       35.000000             74.000000

       max_delinquency_level  max_recent_level_of_deliq  num_deliq_6mts  \
count           15387.000000               51336.000000    51336.000000
mean               74.047573                  13.521953        0.184977
std               121.318443                  53.336976        0.710240
min                 1.000000                   0.000000        0.000000
25%                24.000000                   0.000000        0.000000
50%                33.000000                   0.000000        0.000000
75%                83.000000                  10.000000        0.000000
max               900.000000                 900.000000       12.000000

       num_deliq_12mts  num_deliq_6_12mts  max_deliq_6mts  max_deliq_12mts  \
count     51336.000000       51336.000000    38446.000000     40504.000000
mean          0.480053           0.295076        4.841128         9.206498
std           1.522210           1.027471       28.628229        39.463153
min           0.000000           0.000000        0.000000         0.000000
25%           0.000000           0.000000        0.000000         0.000000
50%           0.000000           0.000000        0.000000         0.000000
75%           0.000000           0.000000        0.000000         0.000000
max          28.000000          20.000000      900.000000       900.000000

       num_times_30p_dpd  num_times_60p_dpd       num_std  num_std_6mts  \
count       51336.000000       51336.000000  51336.000000  51336.000000
mean            0.728884           0.426971      9.204671      1.484027
std             2.762120           2.101404     21.308881      3.364581
min             0.000000           0.000000      0.000000      0.000000
25%             0.000000           0.000000      0.000000      0.000000
50%             0.000000           0.000000      0.000000      0.000000
75%             0.000000           0.000000      9.000000      1.000000
max            60.000000          52.000000    422.000000     60.000000

       num_std_12mts       num_sub  num_sub_6mts  num_sub_12mts       num_dbt  \
count   51336.000000  51336.000000  51336.000000   51336.000000  51336.000000
mean        3.319444      0.062646      0.002435       0.009292      0.025947
std         7.518414      0.801218      0.091383       0.233403      0.635611
min         0.000000      0.000000      0.000000       0.000000      0.000000
25%         0.000000      0.000000      0.000000       0.000000      0.000000
50%         0.000000      0.000000      0.000000       0.000000      0.000000
75%         3.000000      0.000000      0.000000       0.000000      0.000000
max       122.000000     42.000000      8.000000      20.000000     35.000000

       num_dbt_6mts  num_dbt_12mts       num_lss  num_lss_6mts  num_lss_12mts  \
count  51336.000000   51336.000000  51336.000000  51336.000000   51336.000000
mean       0.001208       0.004130      0.015097      0.000974       0.002844
std        0.070331       0.179885      0.529730      0.075413       0.185349
min        0.000000       0.000000      0.000000      0.000000       0.000000
25%        0.000000       0.000000      0.000000      0.000000       0.000000
50%        0.000000       0.000000      0.000000      0.000000       0.000000
75%        0.000000       0.000000      0.000000      0.000000       0.000000
max        6.000000      12.000000     72.000000     12.000000      30.000000

       recent_level_of_deliq       tot_enq        CC_enq    CC_enq_L6m  \
count           51336.000000  45015.000000  45015.000000  45015.000000
mean               11.266090      5.291036      0.467266      0.158903
std                46.100309      6.178414      1.666951      0.673070
min                 0.000000      1.000000      0.000000      0.000000
25%                 0.000000      2.000000      0.000000      0.000000
50%                 0.000000      3.000000      0.000000      0.000000
75%                 7.000000      6.000000      0.000000      0.000000
max               900.000000    176.000000     42.000000     17.000000

        CC_enq_L12m        PL_enq    PL_enq_L6m   PL_enq_L12m  \
count  45015.000000  45015.000000  45015.000000  45015.000000
mean       0.260846      1.135177      0.506720      0.757659
std        0.998968      2.330629      1.353613      1.769592
min        0.000000      0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000      0.000000
50%        0.000000      0.000000      0.000000      0.000000
75%        0.000000      1.000000      0.000000      1.000000
max       24.000000     46.000000     44.000000     44.000000

       time_since_recent_enq      enq_L12m       enq_L6m       enq_L3m  \
count           45015.000000  45015.000000  45015.000000  45015.000000
mean              260.051649      3.011107      1.995290      1.241719
std               462.042665      4.218634      3.121818      2.063165
min                 0.000000      0.000000      0.000000      0.000000
25%                 8.000000      1.000000      0.000000      0.000000
50%                75.000000      2.000000      1.000000      1.000000
75%               295.000000      4.000000      3.000000      2.000000
max              4768.000000     87.000000     66.000000     42.000000

                AGE  NETMONTHLYINCOME  Time_With_Curr_Empr  \
count  51336.000000      5.133600e+04         51336.000000
mean      33.758532      2.642419e+04           110.707846
std        8.816364      2.002711e+04            76.046831
min       21.000000      0.000000e+00             0.000000
25%       27.000000      1.800000e+04            61.000000
50%       32.000000      2.300000e+04            93.000000
75%       39.000000      3.000000e+04           131.000000
max       77.000000      2.500000e+06          1020.000000

       pct_of_active_TLs_ever  pct_opened_TLs_L6m_of_L12m  \
count            51336.000000                51336.000000
mean                 0.577542                    0.302955
std                  0.379867                    0.406049
min                  0.000000                    0.000000
25%                  0.250000                    0.000000
50%                  0.556000                    0.000000
75%                  1.000000                    0.643000
max                  1.000000                    1.000000

       pct_currentBal_all_TL  CC_utilization       CC_Flag  PL_utilization  \
count           51264.000000     3700.000000  51336.000000     6901.000000
mean                0.836152        0.628344      0.089469        0.751838
std                36.828156        1.237861      0.285423        0.253933
min                 0.000000        0.000000      0.000000        0.000000
25%                 0.087000        0.186500      0.000000        0.641000

In [42]:
# Función que muestra la estructura de cada variable
for col in external.columns.tolist():
    describe_columna(external, col)

Columna: PROSPECTID  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 51336
Valores más frecuentes:
51336 	 1
1 	 1
2 	 1
3 	 1
4 	 1
5 	 1
6 	 1
7 	 1
51320 	 1
51319 	 1
Columna: time_since_recent_payment  -  Tipo de datos: float64
Número de valores nulos: 4291  -  Número de valores distintos: 2434
Valores más frecuentes:
51.0 	 606
49.0 	 605
63.0 	 604
52.0 	 580
54.0 	 570
59.0 	 567
67.0 	 555
50.0 	 554
66.0 	 548
47.0 	 542
Columna: time_since_first_deliquency  -  Tipo de datos: float64
Número de valores nulos: 35949  -  Número de valores distintos: 36
Valores más frecuentes:
35.0 	 1855
34.0 	 596
33.0 	 563
7.0 	 488
9.0 	 475
29.0 	 471
31.0 	 468
6.0 	 467
5.0 	 466
8.0 	 459
Columna: time_since_recent_deliquency  -  Tipo de datos: float64
Número de valores nulos: 35949  -  Número de valores distintos: 36
Valores más frecuentes:
2.0 	 1224
3.0 	 1091
4.0 	 1016
5.0 	 853
6.0 	 792
7.0 	 649
8.0 	 642
9.0 	 593
10.0 	 516
1.0 	 515
Columna: num_times_delinquent  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 64
Valores más frecuentes:
0 	 35949
1 	 4397
2 	 2533
3 	 1745
4 	 1191
5 	 863
6 	 669
7 	 588
8 	 493
9 	 385
Columna: max_delinquency_level  -  Tipo de datos: float64
Número de valores nulos: 35949  -  Número de valores distintos: 518
Valores más frecuentes:
30.0 	 733
26.0 	 731
28.0 	 603
25.0 	 584
60.0 	 479
27.0 	 471
89.0 	 440
90.0 	 404
3.0 	 404
24.0 	 403
Columna: max_recent_level_of_deliq  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 399
Valores más frecuentes:
0 	 35949
30 	 1241
25 	 993
26 	 935
28 	 828
27 	 744
29 	 618
24 	 588
3 	 538
60 	 449
Columna: num_deliq_6mts  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 13
Valores más frecuentes:
0 	 46554
1 	 2453
2 	 1096
3 	 534
4 	 434
5 	 168
6 	 56
7 	 16
8 	 13
10 	 5
Columna: num_deliq_12mts  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 26
Valores más frecuentes:
0 	 42908
1 	 3350
2 	 1770
3 	 1040
4 	 614
5 	 462
6 	 340
7 	 232
8 	 186
10 	 147
Columna: num_deliq_6_12mts  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 18
Valores más frecuentes:
0 	 45187
1 	 2584
2 	 1388
3 	 791
4 	 516
6 	 379
5 	 322
7 	 63
8 	 39
9 	 21
Columna: max_deliq_6mts  -  Tipo de datos: float64
Número de valores nulos: 12890  -  Número de valores distintos: 205
Valores más frecuentes:
0.0 	 33664
28.0 	 324
3.0 	 323
26.0 	 298
25.0 	 283
27.0 	 253
30.0 	 245
24.0 	 199
10.0 	 197
29.0 	 167
Columna: max_deliq_12mts  -  Tipo de datos: float64
Número de valores nulos: 10832  -  Número de valores distintos: 293
Valores más frecuentes:
0.0 	 32076
28.0 	 564
26.0 	 503
27.0 	 438
25.0 	 428
3.0 	 378
30.0 	 372
24.0 	 317
29.0 	 289
10.0 	 259
Columna: num_times_30p_dpd  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 52
Valores más frecuentes:
0 	 43345
1 	 2471
2 	 1503
3 	 876
4 	 574
5 	 438
6 	 355
7 	 247
8 	 232
9 	 193
Columna: num_times_60p_dpd  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 43
Valores más frecuentes:
0 	 46447
1 	 1703
2 	 839
3 	 478
4 	 367
5 	 257
6 	 204
8 	 152
7 	 148
11 	 99
Columna: num_std  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 237
Valores más frecuentes:
0 	 31655
1 	 1450
2 	 1036
3 	 948
4 	 751
7 	 662
6 	 649
5 	 601
8 	 573
9 	 505
Columna: num_std_6mts  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 50
Valores más frecuentes:
0 	 37369
4 	 3529
5 	 2640
1 	 1378
3 	 1346
2 	 1273
8 	 669
10 	 546
6 	 534
7 	 422
Columna: num_std_12mts  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 98
Valores más frecuentes:
0 	 35636
10 	 1958
11 	 1624
1 	 1324
2 	 1022
9 	 869
3 	 856
4 	 838
8 	 820
7 	 808
Columna: num_sub  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 31
Valores más frecuentes:
0 	 50682
1 	 179
2 	 101
3 	 65
4 	 51
6 	 43
5 	 43
8 	 32
7 	 32
10 	 22
Columna: num_sub_6mts  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 7
Valores más frecuentes:
0 	 51285
1 	 18
2 	 14
4 	 7
3 	 6
5 	 5
8 	 1
Columna: num_sub_12mts  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 14
Valores más frecuentes:
0 	 51178
1 	 61
2 	 42
3 	 14
6 	 11
5 	 9
4 	 6
10 	 5
8 	 3
11 	 3
Columna: num_dbt  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 29
Valores más frecuentes:
0 	 51166
1 	 45
3 	 15
2 	 12
5 	 12
6 	 11
9 	 10
7 	 8
8 	 7
11 	 6
Columna: num_dbt_6mts  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 6
Valores más frecuentes:
0 	 51320
4 	 8
3 	 4
5 	 2
2 	 1
6 	 1
Columna: num_dbt_12mts  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 11
Valores más frecuentes:
0 	 51296
2 	 11
10 	 6
9 	 5
3 	 4
1 	 4
4 	 3
5 	 3
11 	 2
8 	 1
Columna: num_lss  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 25
Valores más frecuentes:
0 	 51234
1 	 21
3 	 11
7 	 10
4 	 9
2 	 8
8 	 7
16 	 5
9 	 5
6 	 4
Columna: num_lss_6mts  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 7
Valores más frecuentes:
0 	 51324
4 	 5
5 	 2
2 	 2
3 	 1
12 	 1
1 	 1
Columna: num_lss_12mts  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 11
Valores más frecuentes:
0 	 51311
2 	 5
1 	 5
10 	 4
5 	 3
8 	 2
3 	 2
30 	 1
9 	 1
11 	 1
Columna: recent_level_of_deliq  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 349
Valores más frecuentes:
0 	 35949
30 	 1101
25 	 1017
26 	 929
28 	 777
27 	 740
3 	 727
24 	 635
29 	 586
1 	 517
Columna: tot_enq  -  Tipo de datos: float64
Número de valores nulos: 6321  -  Número de valores distintos: 84
Valores más frecuentes:
1.0 	 9476
2.0 	 7802
3.0 	 6087
4.0 	 4626
5.0 	 3389
6.0 	 2600
7.0 	 1939
8.0 	 1531
9.0 	 1247
10.0 	 981
Columna: CC_enq  -  Tipo de datos: float64
Número de valores nulos: 6321  -  Número de valores distintos: 37
Valores más frecuentes:
0.0 	 37180
1.0 	 3983
2.0 	 1499
3.0 	 737
4.0 	 451
5.0 	 283
6.0 	 199
7.0 	 152
8.0 	 124
9.0 	 70
Columna: CC_enq_L6m  -  Tipo de datos: float64
Número de valores nulos: 6321  -  Número de valores distintos: 16
Valores más frecuentes:
0.0 	 41080
1.0 	 2389
2.0 	 811
3.0 	 337
4.0 	 187
5.0 	 75
6.0 	 58
7.0 	 38
8.0 	 13
9.0 	 10
Columna: CC_enq_L12m  -  Tipo de datos: float64
Número de valores nulos: 6321  -  Número de valores distintos: 21
Valores más frecuentes:
0.0 	 39563
1.0 	 3074
2.0 	 1042
3.0 	 491
4.0 	 291
5.0 	 176
6.0 	 119
7.0 	 82
8.0 	 55
9.0 	 40
Columna: PL_enq  -  Tipo de datos: float64
Número de valores nulos: 6321  -  Número de valores distintos: 41
Valores más frecuentes:
0.0 	 26084
1.0 	 8373
2.0 	 4316
3.0 	 2223
4.0 	 1311
5.0 	 746
6.0 	 527
7.0 	 383
8.0 	 245
9.0 	 187
Columna: PL_enq_L6m  -  Tipo de datos: float64
Número de valores nulos: 6321  -  Número de valores distintos: 29
Valores más frecuentes:
0.0 	 33915
1.0 	 6228
2.0 	 2479
3.0 	 1024
4.0 	 491
5.0 	 277
6.0 	 201
7.0 	 116
8.0 	 75
9.0 	 58
Columna: PL_enq_L12m  -  Tipo de datos: float64
Número de valores nulos: 6321  -  Número de valores distintos: 36
Valores más frecuentes:
0.0 	 29953
1.0 	 7850
2.0 	 3382
3.0 	 1592
4.0 	 773
5.0 	 438
6.0 	 267
7.0 	 234
8.0 	 133
9.0 	 87
Columna: time_since_recent_enq  -  Tipo de datos: float64
Número de valores nulos: 6321  -  Número de valores distintos: 2381
Valores más frecuentes:
1.0 	 2350
2.0 	 2298
3.0 	 1781
4.0 	 1339
5.0 	 1037
6.0 	 894
7.0 	 727
8.0 	 598
9.0 	 547
10.0 	 436
Columna: enq_L12m  -  Tipo de datos: float64
Número de valores nulos: 6321  -  Número de valores distintos: 65
Valores más frecuentes:
1.0 	 11200
0.0 	 9373
2.0 	 7284
3.0 	 4898
4.0 	 3331
5.0 	 2183
6.0 	 1537
7.0 	 1112
8.0 	 855
9.0 	 611
Columna: enq_L6m  -  Tipo de datos: float64
Número de valores nulos: 6321  -  Número de valores distintos: 54
Valores más frecuentes:
0.0 	 15669
1.0 	 11377
2.0 	 6478
3.0 	 3805
4.0 	 2394
5.0 	 1483
6.0 	 994
7.0 	 684
8.0 	 492
9.0 	 353
Columna: enq_L3m  -  Tipo de datos: float64
Número de valores nulos: 6321  -  Número de valores distintos: 37
Valores más frecuentes:
0.0 	 21116
1.0 	 11525
2.0 	 5516
3.0 	 2865
4.0 	 1556
5.0 	 799
6.0 	 494
7.0 	 317
8.0 	 232
9.0 	 154
Columna: MARITALSTATUS  -  Tipo de datos: object
Número de valores nulos: 0  -  Número de valores distintos: 2
Valores más frecuentes:
Married 	 37752
Single 	 13584
Columna: EDUCATION  -  Tipo de datos: object
Número de valores nulos: 0  -  Número de valores distintos: 7
Valores más frecuentes:
GRADUATE 	 16673
12TH 	 14467
SSC 	 9276
UNDER GRADUATE 	 5492
OTHERS 	 2917
POST-GRADUATE 	 2242
PROFESSIONAL 	 269
Columna: AGE  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 47
Valores más frecuentes:
28 	 2534
29 	 2531
27 	 2517
26 	 2450
30 	 2435
25 	 2388
24 	 2332
32 	 2297
31 	 2294
33 	 2105
Columna: GENDER  -  Tipo de datos: object
Número de valores nulos: 0  -  Número de valores distintos: 2
Valores más frecuentes:
M 	 45245
F 	 6091
Columna: NETMONTHLYINCOME  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 1316
Valores más frecuentes:
25000 	 4904
20000 	 4880
30000 	 3940
15000 	 3669
18000 	 2966
35000 	 2386
40000 	 1875
22000 	 1473
28000 	 1247
12000 	 1222
Columna: Time_With_Curr_Empr  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 490
Valores más frecuentes:
66 	 1574
125 	 1552
126 	 1301
71 	 906
62 	 813
65 	 807
77 	 750
38 	 736
128 	 730
63 	 727
Columna: pct_of_active_TLs_ever  -  Tipo de datos: float64
Número de valores nulos: 0  -  Número de valores distintos: 421
Valores más frecuentes:
1.0 	 18377
0.0 	 8519
0.5 	 5844
0.667 	 2599
0.333 	 2405
0.75 	 1208
0.25 	 1179
0.4 	 824
0.6 	 787
0.2 	 662
Columna: pct_opened_TLs_L6m_of_L12m  -  Tipo de datos: float64
Número de valores nulos: 0  -  Número de valores distintos: 109
Valores más frecuentes:
0.0 	 30574
1.0 	 10210
0.5 	 4185
0.667 	 1411
0.333 	 1349
0.75 	 565
0.25 	 526
0.6 	 372
0.4 	 345
0.8 	 224
Columna: pct_currentBal_all_TL  -  Tipo de datos: float64
Número de valores nulos: 72  -  Número de valores distintos: 1528
Valores más frecuentes:
0.0 	 11819
1.0 	 2460
0.5 	 460
0.667 	 248
0.6 	 236
0.333 	 234
0.4 	 197
0.7 	 195
0.3 	 182
0.833 	 150
Columna: CC_utilization  -  Tipo de datos: float64
Número de valores nulos: 47636  -  Número de valores distintos: 906
Valores más frecuentes:
1.0 	 597
0.0 	 572
0.001 	 18
0.999 	 16
0.991 	 16
0.913 	 15
1.002 	 14
0.958 	 12
0.994 	 12
0.983 	 12
Columna: CC_Flag  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 2
Valores más frecuentes:
0 	 46743
1 	 4593
Columna: PL_utilization  -  Tipo de datos: float64
Número de valores nulos: 44435  -  Número de valores distintos: 917
Valores más frecuentes:
1.0 	 646
0.0 	 178
0.949 	 60
0.931 	 56
0.842 	 50
0.984 	 49
0.967 	 47
0.97 	 40
0.983 	 39
0.875 	 36
Columna: PL_Flag  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 2
Valores más frecuentes:
0 	 42718
1 	 8618
Columna: pct_PL_enq_L6m_of_L12m  -  Tipo de datos: float64
Número de valores nulos: 0  -  Número de valores distintos: 93
Valores más frecuentes:
0.0 	 40236
1.0 	 8126
0.5 	 1036
0.667 	 463
0.333 	 326
0.75 	 213
0.8 	 115
0.25 	 89
0.6 	 85
0.4 	 83
Columna: pct_CC_enq_L6m_of_L12m  -  Tipo de datos: float64
Número de valores nulos: 0  -  Número de valores distintos: 54
Valores más frecuentes:
0.0 	 47401
1.0 	 2688
0.5 	 436
0.667 	 193
0.333 	 132
0.75 	 77
0.25 	 57
0.6 	 49
0.8 	 39
0.4 	 36
Columna: pct_PL_enq_L6m_of_ever  -  Tipo de datos: float64
Número de valores nulos: 0  -  Número de valores distintos: 141
Valores más frecuentes:
0.0 	 40236
1.0 	 6591
0.5 	 1407
0.333 	 594
0.667 	 510
0.25 	 281
0.75 	 224
0.4 	 155
0.2 	 137
0.6 	 120
Columna: pct_CC_enq_L6m_of_ever  -  Tipo de datos: float64
Número de valores nulos: 0  -  Número de valores distintos: 93
Valores más frecuentes:
0.0 	 47401
1.0 	 2095
0.5 	 543
0.333 	 248
0.667 	 167
0.25 	 136
0.2 	 77
0.4 	 70
0.75 	 57
0.6 	 51
Columna: max_unsec_exposure_inPct  -  Tipo de datos: float64
Número de valores nulos: 23178  -  Número de valores distintos: 8974
Valores más frecuentes:
0.0 	 581
0.001 	 145
1.0 	 144
10.0 	 121
5.0 	 121
2.0 	 114
2.5 	 97
0.5 	 92
3.333 	 88
0.6 	 86
Columna: HL_Flag  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 2
Valores más frecuentes:
0 	 37418
1 	 13918
Columna: GL_Flag  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 2
Valores más frecuentes:
0 	 48621
1 	 2715
Columna: last_prod_enq2  -  Tipo de datos: object
Número de valores nulos: 0  -  Número de valores distintos: 6
Valores más frecuentes:
others 	 20831
ConsumerLoan 	 17793
PL 	 7959
CC 	 2339
AL 	 1511
HL 	 903
Columna: first_prod_enq2  -  Tipo de datos: object
Número de valores nulos: 0  -  Número de valores distintos: 6
Valores más frecuentes:
others 	 28120
ConsumerLoan 	 11860
PL 	 4889
AL 	 2870
CC 	 2188
HL 	 1409
Columna: Credit_Score  -  Tipo de datos: int64
Número de valores nulos: 0  -  Número de valores distintos: 250
Valores más frecuentes:
682 	 1357
678 	 1340
679 	 1330
680 	 1321
677 	 1259
681 	 1228
683 	 1224
673 	 1211
672 	 1203
674 	 1189
Columna: Approved_Flag  -  Tipo de datos: object
Número de valores nulos: 0  -  Número de valores distintos: 4
Valores más frecuentes:
P2 	 32199
P3 	 7452
P4 	 5882
P1 	 5803

In [57]:
# Tipificamos valores que deben estar como booleanos

bool_features = []

for col in external.columns:  
    if ('Flag' in col) & (len(col) < 8):
        bool_features.append(col)

external[bool_features] = external[bool_features].astype('bool')

['CC_Flag', 'PL_Flag', 'HL_Flag', 'GL_Flag']

In [67]:
numeric_features = []

for col in external.columns:
    if external[col].dtype != 'object' and col not in ['PROSPECTID']:
        numeric_features.append(col)

len(numeric_features)

55

### Internal Database

In [13]:
# # Cargar los datos en un dataframe
# internal = pd.read_excel('data/Internal_Bank_Dataset.xlsx')

# # Remplazamos el valor asignado como nulo para que no afecta al EDA
# internal.replace(-99999, np.nan, inplace=True)

In [14]:
# Visualizamos 5 primeras y 5 últimas líneas del dataframe
print(head_tail(internal, 5))
print("="*100)

# Resumen estadístico de los datos numéricos
print(internal.describe())

NameError: name 'internal' is not defined

In [ ]:
# Función que muestra la estructura de cada variable
for col in internal.columns.tolist():
    describe_columna(internal, col)

## EDA